.expense-list-container {
    margin: 20px;
  }
  
  .expense-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .expense-table th,
  .expense-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .expense-table th {
    background-color: #f5f5f5;
  }
  
  .expense-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .total-expenses {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
  }
  
  .premium-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .premium-button:hover {
    background-color: #0056b3;
  }
  .btn{
    margin-right: 10px;
    width: auto;
    background-color: green;
  }
  .btn:hover{
    background-color: greenyellow;
    color: black;
  }