.InputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .Input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
.description {
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
  }
  input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
  }
  .RadioGroup {
    display: flex;
  }
  
  .RadioGroup label {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 210px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
  }
  select {
    padding: 5px;
    margin-bottom: 20px;
    width: 214px;
  }
